<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<meta name="x5-page-mode" content="no-title"/>
	<link rel="stylesheet" type="text/css" href="<%=devenv%>dist/css/live-detail.css">
</head>
<body>
	<script type="text/javascript">
    var $CONFIG = {
        userId: 0, //用户id，为0标识未登录
        nickName: "",
        avatar: "",
    };
    $CONFIG.jspath = 'http://js-pre.meixincdn.com';

    $CONFIG['imageUrl'] = 'http://f.cms.pre.gomeplus.com/images/2017/03/ckYMDzeGpSyANWUZnTFmiIP4K1v5XR.jpg';
    $CONFIG['title'] = '直播未开始暖场测试，由于目前涉及的情况有点多，多少个字符也顺便看看吧';
    $CONFIG['shareDesc'] = '副标题也测试下字符长度的情况吧，来国美看，走过㘝不要错过，没有最好，只有……你懂的，都来吧';
    </script>

    <script type="text/javascript">

    // cms
    $CONFIG['domain-data'] = 'http://m.v.dev.gomeplus.com/';

    // php
    $CONFIG['domain-user'] = 'http://api.be.v.dev.gomeplus.com';
    // $CONFIG['userId'] = '100018018011';
    $CONFIG['SCN'] = 'Pc0jlCMLaagpVY%2BMHlWDstWE5oYfTKsV2J%2BjTgPlwKX7ntkfYXhAOA2tPfabN3BiAojnJw58K5MMgP874dov9nMZNqk3pIWZSc7%2FRNY1QGhyDKWexBFdyA%3D%3D4fe5afdc49d8d85e3931d5d3cf25f1af';
    
    $CONFIG.env= 'dev';
    $CONFIG.topicId = 557;
	$CONFIG.videoId = 445; //'600, 601' 'dist: live->129' pre: 1236 点播, 230直播
    </script>


    <script type="text/javascript">
    /* 登录脚本所需的全局变量 */

    // pre 环境
    $CONFIG['dynSite']='//g.atguat.com.cn';
    $CONFIG['staSite']='//www.atguat.com.cn/';
    $CONFIG['contextPath']='/ec/homeus';
    $CONFIG['secureURL']='//g.atguat.com.cn';
    $CONFIG['cookieDomain']='.atguat.com.cn';
    $CONFIG['stageImageServer']= '//img.atguat.net.cn/';
    $CONFIG['imgServer']='//img.atguat.com.cn/images';
    $CONFIG['pictureserver']='//img.atguat.com.cn/image';
    $CONFIG['stageCssServer']='//css.atguat.com.cn';
    $CONFIG['cssserver']='//css.atguat.com.cn/css';
    $CONFIG['stageJsServer']='//js.atguat.com.cn';
    $CONFIG['jsserver']='//js.atguat.com.cn/js';
    $CONFIG['js_net_server']='https://js.atguat.net.cn/';
    $CONFIG['protocol']='https';
    $CONFIG['versionData']='1487836100';

    // prd 环境
    // $CONFIG['dynSite']='https://g.gome.com.cn:443';
    // $CONFIG['staSite']='//www.gome.com.cn/';
    // $CONFIG['contextPath']='/ec/homeus';
    // $CONFIG['secureURL']='https://g.gome.com.cn:443';
    // $CONFIG['cookieDomain']='.gome.com.cn';
    // $CONFIG['stageImageServer']= '//img.gomein.net.cn/';
    // $CONFIG['imgServer']='//img.gome.com.cn/images';
    // $CONFIG['pictureserver']='//img.gome.com.cn/image';
    // $CONFIG['stageCssServer']='//css.gome.com.cn';
    // $CONFIG['cssserver']='//css.gome.com.cn/css';
    // $CONFIG['stageJsServer']='//js.gome.com.cn';
    // $CONFIG['jsserver']='//js.gome.com.cn/js';
    // $CONFIG['js_net_server']='https://js.gomein.net.cn/';
    // $CONFIG['protocol']='https';
    // $CONFIG['versionData']='1.7.1';

    </script>
	<%- include('../../common/head.ejs')%>
	<div class="mixture-content clearfix" data-id="wrap">
		<div class="player-box clearfix" data-node="playerbox">
			<div class="player" id="mxplayer"></div>
			<em class="icon icon-20 toggle" data-node="toggle"></em>
			<div class="info" data-node="danmubox">
				<div class="tabs" data-role='tabs'>
					<div class="tablist clearfix">
						<a href="javascript:;">弹幕</a>
					</div>
					<div class="tabContent">
						<div class="danmu" data-role="content">
							<ul data-node="msgList"></ul>
						</div>
					</div>
				</div>
			</div>
			<div class="input" data-node="danmuform">
				<div class="fl" data-node="danmuemoticons">
					<a href="javascript:;" data-type="emoji" title="表情" class="icon-21"></a>
					<span>|</span>
					<a href="javascript:;" data-type="yantext" title="颜文字" class="icon-22"></a>
				</div>
				<input placeholder="快来吐槽一下吧~" readonly="true" class="text" type="text" data-node="danmuContent">
				<input value="发送" class="submit" type="button" data-action="submit">
				<div class="num" data-node="textnum">
					<span>0</span>
					/
					<span>25</span>
				</div>
				<!-- <div class="open-emoji hide">
					<em class="icon-san"></em>
					<a href="javascript:;">
						<img src="https://i0.meixincdn.com/v1/img/T11IVTBXbT1RXrhCrK.jpg.100x100cTzq80.jpg"/>
					</a>
					<a href="javascript:;">
						<img src="https://i0.meixincdn.com/v1/img/T11IVTBXbT1RXrhCrK.jpg.100x100cTzq80.jpg"/>
					</a>
					<a href="javascript:;">
						<img src="https://i0.meixincdn.com/v1/img/T11IVTBXbT1RXrhCrK.jpg.100x100cTzq80.jpg"/>
					</a>
					<a href="javascript:;">
						<img src="https://i0.meixincdn.com/v1/img/T11IVTBXbT1RXrhCrK.jpg.100x100cTzq80.jpg"/>
					</a>
					<a href="javascript:;">
						<img src="https://i0.meixincdn.com/v1/img/T11IVTBXbT1RXrhCrK.jpg.100x100cTzq80.jpg"/>
					</a>
					<a href="javascript:;">
						<img src="https://i0.meixincdn.com/v1/img/T11IVTBXbT1RXrhCrK.jpg.100x100cTzq80.jpg"/>
					</a>
					<a href="javascript:;">
						<img src="https://i0.meixincdn.com/v1/img/T11IVTBXbT1RXrhCrK.jpg.100x100cTzq80.jpg"/>
					</a>
					<a href="javascript:;">
						<img src="https://i0.meixincdn.com/v1/img/T11IVTBXbT1RXrhCrK.jpg.100x100cTzq80.jpg"/>
					</a>
					<a href="javascript:;">
						<img src="https://i0.meixincdn.com/v1/img/T11IVTBXbT1RXrhCrK.jpg.100x100cTzq80.jpg"/>
					</a>
					<a href="javascript:;">
						<img src="https://i0.meixincdn.com/v1/img/T11IVTBXbT1RXrhCrK.jpg.100x100cTzq80.jpg"/>
					</a>
				</div>-->
				<!-- <div class="open-emoji emoji-text" style="">
					<em class="icon-san"></em>
					<a data-t="yantext" data-info="(┬＿┬）" href="javascript:;">(┬＿┬）</a>
					<a data-t="yantext" data-info="(￣へ￣)" href="javascript:;">(￣へ￣)</a>
					<a data-t="yantext" data-info="╮(￣▽￣)╭" href="javascript:;">╮(￣▽￣)╭</a>
					<a data-t="yantext" data-info="ʅ（´◔౪◔）ʃ" href="javascript:;">ʅ（´◔౪◔）ʃ</a>
					<a data-t="yantext" data-info="( ^ω^)" href="javascript:;">( ^ω^)</a>
					<a data-t="yantext" data-info="(｀・ω・´)" href="javascript:;">(｀・ω・´)</a>
					<a data-t="yantext" data-info="Σ( ￣□￣||)" href="javascript:;">Σ( ￣□￣||)</a>
					<a data-t="yantext" data-info="(ﾟДﾟ≡ﾟдﾟ)!?" href="javascript:;">(ﾟДﾟ≡ﾟдﾟ)!?</a>
					<a data-t="yantext" data-info="(⊙ˍ⊙)" href="javascript:;">(⊙ˍ⊙)</a>
					<a data-t="yantext" data-info="(　ﾟ 3ﾟ)" href="javascript:;">(　ﾟ 3ﾟ)</a>
					<a data-t="yantext" data-info="(￣(●●)￣)" href="javascript:;">(￣(●●)￣)</a>
					<a data-t="yantext" data-info="(:3[▓▓▓▓▓▓]" href="javascript:;">(:3[▓▓▓▓▓▓]</a>
					<a data-t="yantext" data-info="(•̀ᴗ•́)و ̑̑ " href="javascript:;">(•̀ᴗ•́)و ̑̑ </a>
					<a data-t="yantext" data-info="( >﹏<。)" href="javascript:;">( &gt;﹏&lt;。)</a>
					<a data-t="yantext" data-info="( =•ω•= )m" href="javascript:;">( =•ω•= )m</a>
					<a data-t="yantext" data-info="( ╯-_-)╯┴—┴" href="javascript:;">( ╯-_-)╯┴—┴</a>
					<a data-t="yantext" data-info="←◡←" href="javascript:;">←◡←</a>
					<a data-t="yantext" data-info="(ง •̀_•́)ง" href="javascript:;">(ง •̀_•́)ง</a>
					<a data-t="yantext" data-info="(=ﾟωﾟ)=" href="javascript:;">(=ﾟωﾟ)=</a>
					<a data-t="yantext" data-info="((٩(//̀Д/́/)۶))" href="javascript:;">((٩(//̀Д/́/)۶))</a>
				</div> -->
			</div>
			<div class="playerloading" data-node="playerloading"><span><img src="http://js.pre.meixincdn.com/dist/imgs/public/loading.gif"></span></div>
		</div>
		<div class="content-left">
			<h1>2017我们从新起航，为梦想而奔跑</h1>
			<p><span class="left-time">发布时间：<span>2017-2-10</span></span class="left-author"><span>作者：<span>京华时报</span></span></p>
			<p>为了让大家更好的了解国美在线的用户行为数据，快速查看并分析不同渠道、
			不同时间在国美的转化与网站浏览情况，并通过使用大数据平台对用户行为数据
			进行不同角度的获取与使用，大数据中心计划进行大数据平台系统的相关系列培
			训，请各位领导及同事协调本中心相关人员参与此次培训</p>
			<img class="img" src="http://js.dev.meixincdn.com<%=devenv%>src/imgs/comment/bmw.png">
			<p class="mt">为了让大家更好的了解国美在线的用户行为数据，快速查看并分析不同渠道、
			不同时间在国美的转化与网站浏览情况，并通过使用大数据平台对用户行为数据
			进行不同角度的获取与使用，中心相关人员参与此次培训</p>
			<img class="img" src="http://js.dev.meixincdn.com<%=devenv%>src/imgs/comment/audi.png">
			<p class="mt">为了让大家更好的了解国美在线的用户行为数据，快速查看并分析不同渠道。</p>
			<img class="img" src="http://js.dev.meixincdn.com<%=devenv%>src/imgs/comment/sports.png">
			<p class="mt">为了让大家更好的了解国美在线的用户行为数据，快速查看并分析不同渠道、不同时间在国美的转化与网站浏览情况。</p>
			<h2>什么是边缘型人格障碍？</h2>
			<p>边缘型人格障碍（以下简称BPD）是一种严重的精神疾病。BPD的患者有四种常见的核心表现：
			情绪不稳定、冲动性的行为，极度不稳定的人际关系，以及扭曲的认知（National Health Service, NHS, 2016）。</p>
			<a class="paste">
				<img src="http://js.dev.meixincdn.com<%=devenv%>src/imgs/comment/paste-img.png">
				<div class="paste-right">
					<h6>红酒知识科普贴</h6>
					<p>澳大利亚最早开始栽种葡萄的地方是悉尼，但悉尼农场湾(Farm Cove)炎热潮湿的气候不适合葡萄藤的生长。澳大利亚第一个商
					   业葡萄园和葡萄酒酿造厂诞生于19世纪早期，是由约翰?麦克阿瑟在……</p>
				</div>
			</a>
			<div class="label">
				<a href="">小鲜肉</a>
				<a href="">都市生活</a>
			</div>
			<div id="sharebox" class="share"></div>
			<div class="comment" data-id="commentComponent"></div>
			<div class="cmt-inputtips">
				<span>请输入您的评价</span>
			</div>
		</div>
	</div>
	<!-- main -->
	<%- include('../../common/footer.ejs')%>
	<!-- <script src="https://js.meixincdn.com/gvs-player/dist/vod/js/meixinplayer-min.js"></script> -->
	<script src="https://player-pre.gomeplus.com/gvs-player/dist/vod/js/meixinplayer-min.js"></script>
	<script src="<%=devenv%>dist/js/vendor.js"></script>
	<script src="<%=devenv%>dist/js/live-detail.js"></script>
</body>
</html>