doctype html
html(lang='zh-CN', data-use-rem='750')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='email=no')
    title 美信网络技术有限公司
  link(type='text/css', rel='stylesheet', href='../../css/guangguang/index.css')
  body.opg
    script(type='text/javascript').
      (function(win){var doc=win.document,html=doc.documentElement,option=html.getAttribute("data-use-rem");if(option===null){return}var baseWidth=parseInt(option).toString()==="NaN"?640:parseInt(option);var grids=baseWidth/100;var clientWidth=html.clientWidth||320;html.style.fontSize=clientWidth/grids+"px";var testDom=document.createElement("div");var testDomWidth=0;var adjustRatio=0;testDom.style.cssText="height:0;width:1rem;";doc.body.appendChild(testDom);var calcTestDom=function(){testDomWidth=testDom.offsetWidth;if(testDomWidth!==Math.round(clientWidth/grids)){adjustRatio=clientWidth/grids/testDomWidth;var reCalcRem=clientWidth*adjustRatio/grids;html.style.fontSize=reCalcRem+"px"}else{doc.body.removeChild(testDom)}};setTimeout(calcTestDom,20);var reCalc=function(){var newCW=html.clientWidth;if(newCW===clientWidth){return}clientWidth=newCW;html.style.fontSize=newCW*(adjustRatio?adjustRatio:1)/grids+"px"};if(!doc.addEventListener){return}var resizeEvt="orientationchange" in win?"orientationchange":"resize";win.addEventListener(resizeEvt,reCalc,false);doc.addEventListener("DOMContentLoaded",reCalc,false)})(window);
    a.to-top(href='javascript:;')
    section.gg-banner-bx
      ul.gg-baner-list
        li.img-default
          a(href='#')
            img(src='https://css.meixincdn.com/m/oph5/dist/images/module/h5-hometextile/hometextile-top.jpg')
        li.img-default
          a(href='#')
            img(src='https://css.meixincdn.com/m/oph5/dist/images/module/h5-hometextile/hometextile-top.jpg')
        li.img-default
          a(href='#')
            img(src='https://css.meixincdn.com/m/oph5/dist/images/module/h5-hometextile/hometextile-top.jpg')
        li.img-default
          a(href='#')
            img(src='https://css.meixincdn.com/m/oph5/dist/images/module/h5-hometextile/hometextile-top.jpg')
        li.img-default
          a(href='#')
            img(src='https://css.meixincdn.com/m/oph5/dist/images/module/h5-hometextile/hometextile-top.jpg')
      .slid-dot
        .slide-nav
          .rotate
          .tip
            span.cur-page 1
            span /
            span.total-page 3
    nav.gg-nav
      a(href='#')
        img.nav-img
        p 赚外快
      a(href='#')
        img.nav-img
        p 每日好店
      a(href='#')
        img.nav-img
        p 电影
      a(href='#')
        img.nav-img
        p 分类
    section.margint20.entrance
      .ent-left
        a.img-default(href='javascript:;')
          img(src='../../images/newindex/favorable.png', alt='')
        a.img-default(href='javascript:;')
          img(src='../../images/newindex/finance.png', alt='')
      .ent-right.img-default
        a(href='javascript:;')
          img(src='../../images/newindex/video.png', alt='')
      .step-finance
        a.btn-done(href='javascript:;') 完成
      .step-video(style='display: none')
        a.btn-done(href='javascript:;') 完成
    section.gg-adg.margint20.img-default
      img(src='https://i6.meixincdn.com/v1/img/T1ctKTBmDT1RXrhCrK.jpg')
    section.gg-coupons.margint20
      .gg-coupons-img.img-default
        img(src='https://i6.meixincdn.com/v1/img/T1ryDTB7JT1RXrhCrK.jpg')
      .gg-coupons-wrap
        ul.gg-coupons-list.swiper-wrapper
          li
            .gg-coupons-shop
              p.shop-tl 糖糖鲜花店
              p
                | 满0.01元使用
                br
                | 2016.08.20-2016.08.30
            .gg-coupons-receive
              a(href='#')
                p
                  | ￥50
                  br
                  span 立即领取
          li
            .gg-coupons-shop
              p.shop-tl 糖糖鲜花店
              p
                | 满0.01元使用
                br
                | 2016.08.20-2016.08.30
            .gg-coupons-receive
              a(href='#')
                p
                  | ￥50
                  br
                  span 立即领取
          li.gg-last-it
            a(href='javascirpt:;') 查看更多
    section.gg-gomeadd.margint20
      .gg-gome-left
        .gg-gome-img
        h4.gg-h4 邀请好友
        .gg-con
          | 7天邀请6好友，奖励59国美币
          br
          p
            | 当前进度：累计赚取
            span 99
            | 国美币
      .gg-gome-right
        img.gg-gome-img1(src='../../images/newindex/gg-img001.jpg')
        a.gg-invite-btn(href='#')
          | 去邀请
          em.icon.icon07
    section.gg-gomeadd.margint20
      .gg-gome-left
        .gg-gome-img
        h4.gg-p1 闯关任务，疯狂赚取国美币
        a.gg-invite-btn(href='#')
          | 去闯关
          em.icon.icon07
      .gg-gome-right
        img.gg-gome-img2(src='../../images/newindex/gg-img002.jpg')
    section.gg-images-box
      a.gg-images-bx.img-default
        img(src='https://i6.meixincdn.com/v1/img/T1UaATBXCj1RXrhCrK.jpg')
      a.gg-images-bx.img-default
        img(src='https://i6.meixincdn.com/v1/img/T1AzZTByDT1RXrhCrK.jpg')
      .gg-more-bx
        a.gg-more-wonderful(href='#')
          | 更多精彩
          em.icon.icon06
    section.gg-rebate-zone
      a.gg-images-bx2.img-default
        img(src='https://css.meixincdn.com/m/oph5/dist/images/module/h5-hometextile/hometextile-top.jpg')
      .list-box.list-box-lg
        ul.product-list(style='width:1000rem;')
          li
            a.product-it
              .img-bor.img-default
                em.icon-fan 返
                img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
              h4.pro-title 小熊加湿器小熊加湿器小熊加湿器
              span.pro-price ￥89.00
              em.pro-pre-price 最高返利12国美币
          li
            a.product-it
              .img-bor.img-default
                em.icon-fan 返
                img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
              h4.pro-title 小熊加湿器小熊加湿器小熊加湿器
              span.pro-price ￥89.00
              em.pro-pre-price 最高返利12国美币
          li
            a.product-it
              .img-bor.img-default
                em.icon-fan 返
                img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
              h4.pro-title 小熊加湿器小熊加湿器小熊加湿器
              span.pro-price ￥89.00
              em.pro-pre-price 最高返利12国美币
          li
            a.product-it
              .img-bor.img-default
                em.icon-fan 返
                img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
              h4.pro-title 小熊加湿器小熊加湿器小熊加湿器
              span.pro-price ￥89.00
              em.pro-pre-price 最高返利12国美币
          li
            a.product-it
              .img-bor.img-default
                em.icon-fan 返
                img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
              h4.pro-title 小熊加湿器小熊加湿器小熊加湿器
              span.pro-price ￥89.00
              em.pro-pre-price 最高返利12国美币
          li
            a.product-it
              .img-bor 查看更多
    section.gg-rebate-zone.margint20
      a.gg-images-bx2.img-default
        img(src='https://css.meixincdn.com/m/oph5/dist/images/module/h5-hometextile/hometextile-top.jpg')
      .list-box.list-box-lg
        ul.product-list(style='width:1000rem;')
          li
            a.product-it
              .img-bor.img-default
                em.icon-fan 返
                img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
              h4.pro-title 小熊加湿器小熊加湿器小熊加湿器
              span.pro-price ￥89.00
              del.pro-pre-price 原价￥120.00
          li
            a.product-it
              .img-bor.img-default
                em.icon-fan 返
                img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
              h4.pro-title 小熊加湿器小熊加湿器小熊加湿器
              span.pro-price ￥89.00
              del.pro-pre-price 原价￥120.00
          li
            a.product-it
              .img-bor.img-default
                em.icon-fan 返
                img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
              h4.pro-title 小熊加湿器小熊加湿器小熊加湿器
              span.pro-price ￥89.00
              del.pro-pre-price 原价￥120.00
          li
            a.product-it
              .img-bor.img-default
                em.icon-fan 返
                img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
              h4.pro-title 小熊加湿器小熊加湿器小熊加湿器
              span.pro-price ￥89.00
              del.pro-pre-price 原价￥120.00
          li
            a.product-it
              .img-bor.img-default
                em.icon-fan 返
                img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
              h4.pro-title 小熊加湿器小熊加湿器小熊加湿器
              span.pro-price ￥89.00
              del.pro-pre-price 原价￥120.00
          li
            a.product-it
              .img-bor 查看更多
    section.gg-selection.margint20
      h3.home-title
        span 精选推荐
      .list-box
        ul.choose-list(style='width:1000rem;')
          li
            a.choose-it.img-default
              img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
          li
            a.choose-it.img-default
              img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
          li
            a.choose-it.img-default
              img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
          li
            a.choose-it.img-default
              img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
          li
            a.choose-it.img-default
              img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
    section.gg-selection.margint20
      h3.home-title
        span 好物期刊
      .list-box
        ul.choose-list(style='width:1000rem;')
          li
            a.choose-it.img-default
              img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
          li
            a.choose-it.img-default
              img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
          li
            a.choose-it.img-default
              img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
          li
            a.choose-it.img-default
              img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
          li
            a.choose-it.img-default
              img(src='https://i0.meixincdn.com/v1/img/T1vyDTB4dT1RXrhCrK.jpg')
    section.gg-kitchen.margint20
      h3.home-title
        span 爱，囿于厨房
      section.kitchen
        ul.kitchen-list
          li
            a.kitchen-item(href='javascript:;')
              .kit-img.img-default
                img(src='https://i0.meixincdn.com/v1/img/T1tyCTB7AT1RXrhCrK.jpg')
              h4.kit-title 不锈钢汤锅
              span.kit-price ￥99
              del.kit-pre-price ￥199.00
          li
            a.kitchen-item(href='javascript:;')
              .kit-img.img-default
                img(src='https://i0.meixincdn.com/v1/img/T1tyCTB7AT1RXrhCrK.jpg')
              h4.kit-title 不锈钢汤锅
              span.kit-price ￥99
              del.kit-pre-price ￥199.00
          li
            a.kitchen-item(href='javascript:;')
              .kit-img.img-default
                img(src='https://i0.meixincdn.com/v1/img/T1tyCTB7AT1RXrhCrK.jpg')
              h4.kit-title 不锈钢汤锅
              span.kit-price ￥99
              del.kit-pre-price ￥199.00
          li
            a.kitchen-item(href='javascript:;')
              .kit-img.img-default
                img(src='https://i0.meixincdn.com/v1/img/T1tyCTB7AT1RXrhCrK.jpg')
              h4.kit-title 不锈钢汤锅
              span.kit-price ￥99
              del.kit-pre-price ￥199.00
    // 每日好店
    section.gg-recommend-store.margint20
      h3.home-title
        span 每日好店
      .goods-shop
        .shop-detail
          h4.detail-header 今日推荐
          .detail-img
            a.img-default(href='#', title='')
              img(src='https://i0.meixincdn.com/v1/img/T1tyCTB7AT1RXrhCrK.jpg', alt='')
            a.img-default(href='#', title='')
              img(src='https://i0.meixincdn.com/v1/img/T17tYTBKKT1RXrhCrK.jpg', alt='')
          .detail-name
            a(href='#', title='') 国美电器
        .shop-detail
          h4.detail-header 人气小店
          .detail-img
            a.img-default(href='#', title='')
              img(src='https://i0.meixincdn.com/v1/img/T1tyCTB7AT1RXrhCrK.jpg', alt='')
            a.img-default(href='#', title='')
              img(src='https://i0.meixincdn.com/v1/img/T17tYTBKKT1RXrhCrK.jpg', alt='')
          .detail-name
            a(href='#', title='') 三只松鼠旗舰店
    // 每日好店 end
    section.gg-kitchen
      h3.minor-title
        em.icon.icon05
        | 猜你喜欢
      section.like
        ul.kitchen-list
          li
            a.kitchen-item(href='javascript:;')
              .kit-img.img-default
                img(src='https://i0.meixincdn.com/v1/img/T1tyCTB7AT1RXrhCrK.jpg')
              h4.kit-title 不锈钢汤锅
              span.kit-price ￥99
              del.kit-pre-price ￥199.00
          li
            a.kitchen-item(href='javascript:;')
              .kit-img.img-default
                img(src='https://i0.meixincdn.com/v1/img/T1tyCTB7AT1RXrhCrK.jpg')
              h4.kit-title 不锈钢汤锅
              span.kit-price ￥99
              del.kit-pre-price ￥199.00
          li
            a.kitchen-item(href='javascript:;')
              .kit-img.img-default
                img(src='https://i0.meixincdn.com/v1/img/T1tyCTB7AT1RXrhCrK.jpg')
              h4.kit-title 不锈钢汤锅
              span.kit-price ￥99
              del.kit-pre-price ￥199.00
          li
            a.kitchen-item(href='javascript:;')
              .kit-img.img-default
                img(src='https://i0.meixincdn.com/v1/img/T1tyCTB7AT1RXrhCrK.jpg')
              h4.kit-title 不锈钢汤锅
              span.kit-price ￥99
              del.kit-pre-price ￥199.00
        a.loading-more(href='javascript:;') 更多内容，敬请期待
    .step-mask
