<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="<%=devenv%>dist/css/app.css">
</head>
<body>
	<%- include('../../common/head.ejs')%>
	<%- include('../../common/menu.ejs')%>
	<div class="content">
		<!--右侧内容区-->
		<div class="video-uploader">
			<div class="file-selector">
				<button class="btn selector"><em class="icon"></em>上传视频</button>
				<p class="desc">最大上传10G视频</p>
			</div>
			<div class="progress-bar">
				<div class="title">
					<span class="name">奇葩喝</span><span>上传中</span>
				</div>
				<div class="progress-wrap">
					<div class="progress">
						<div class="percent"></div>
						<span class="num">50%</span>
						<div class="action">
							<em class="icon-1"></em>
							<span>取消上传</span>
						</div>
					</div>
					<div class="status">正在上传</div>
				</div>
			</div>
			<div class="upload-form">
				<div class="line"></div>
				<div class="form">
					<div class="form-group">
						<label>
							<span class="color-rad">*</span>
							申请人名称：
						</label>
						<div class="form-input">
							<input class="input-text" type="text" placeholder="2-30个汉字、字母或符号" value="13146185229" />
							<p class="error show">请输入手机号</p>
						</div>
					</div>
					<div class="form-group">
						<label>
							<span class="color-rad">*</span>
							简介描述：
						</label>
						<div class="form-input">
							<input class="input-text" type="text" placeholder="富文本编辑器"  />
							<p class="error show">请输入手机号</p>
						</div>
					</div>
					<div class="form-group">
						<label>
							<span class="color-rad">*</span>
							标签：
						</label>
						<div class="form-input">
							<div class="tag-input-wrap clearfix">
								<div class="tag-item">
									<i class="icon-4 del"></i>
									<span>休闲运动</span>
								</div>
								<div class="tag-item">
									<i class="icon-4 del"></i>
									<span>休闲运动</span>
								</div>
								<div class="tag-item">
									<i class="icon-4 del"></i>
									<span>休闲运动</span>
								</div>
								<div class="tag-item">
									<i class="icon-4 del"></i>
									<span>休闲运动</span>
								</div>
								<input class="tag-input" type="text" />
							</div>
							<p class="error tag-error show">请输入手机号</p>
						</div>
					</div>
					<div class="form-group">
						<label class="picker-label"><span class="color-rad">*</span>上传封面图：</label>
						<div class="form-input picker-box">
							<div class="picker-wrap">
								<div class="cover-picker"></div>
							</div>
							<div class="thumb">
								<span class="icon-20 indicator"></span>
								<img src="https://camo.githubusercontent.com/8eae1ecb83d39676b73ad4242dd4150b6b0822f2/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f313438383134372f313836363332332f36666163376536362d373832652d313165332d393364662d6665613338376465663339392e706e67" />
								<span class="icon-4 del"></span>
							</div>
							<span class="remark">请上传不超过4M大小的图片，格式要求（jpg、png、jpeg）上传16：9的图片，会更容易通过审核哦</span>
							<p class="error show picker-error">请输入手机号</p>
						</div>
					</div>
					<button class="btn submit">提交</button>

				</div>
			</div>
			<div class="upload-success">
				<div class="icon-2 icon-suc"></div>
				<div class="title">上传成功</div>
				<div class="tip">视频正在转码审核阶段，请耐心等待...</div>
				<div class="action">
					<button class="btn continue">继续上传</button>
					<button class="btn mgr">前往视频管理</button>
				</div>
			</div>
		</div>
	</div>
	<script src="<%=devenv%>dist/js/vendor.js"></script>
	<script src="<%=devenv%>dist/js/main.js"></script>
</body>
</html>