<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no">
	<meta name="x5-page-mode" content="no-title"/>
	<link rel="stylesheet" href="http://css.atguat.com.cn/??gmlib/reset/1.1.0/reset.css,gmpro/1.0.0/public/1.0.0/css/top.min.css,gmpro/1.0.0/public/1.2.0/css/foot-gomeplus.min.css?v=201704181727">
	<link rel="stylesheet" type="text/css" href="<%=devenv%>dist/css/sublist.css">
	<script type="text/javascript">
		var $CONFIG = {
			userId: 0, //用户id，为0标识未登录
			nickName: "",
			avatar: "",
		};
		</script>

		<script type="text/javascript">
		// cms
		$CONFIG['domain-data'] = 'http://m.v.dev.gomeplus.com/';
		// php
		$CONFIG['domain-user'] = 'http://api.be.v.dev.gomeplus.com/';

		// $CONFIG['userId'] = '100018018011';
		$CONFIG['SCN'] = '';
		</script>

		<script type="text/javascript">
		/* 登录脚本所需的全局变量 */
		// pre 环境
		$CONFIG['dynSite']='//g.atguat.com.cn';
		$CONFIG['staSite']='//www.atguat.com.cn/';
		$CONFIG['contextPath']='/ec/homeus';
		$CONFIG['secureURL']='//g.atguat.com.cn';
		$CONFIG['cookieDomain']='.atguat.com.cn';
		$CONFIG['stageImageServer']= '//img.atguat.net.cn/';
		$CONFIG['imgServer']='//img.atguat.com.cn/images';
		$CONFIG['pictureserver']='//img.atguat.com.cn/image';
		$CONFIG['stageCssServer']='//css.atguat.com.cn';
		$CONFIG['cssserver']='//css.atguat.com.cn/css';
		$CONFIG['stageJsServer']='//js.atguat.com.cn';
		$CONFIG['jsserver']='//js.atguat.com.cn/js';
		$CONFIG['js_net_server']='https://js.atguat.net.cn/';
		$CONFIG['protocol']='https';
		$CONFIG['versionData']='1487836100';

		// prd 环境
		// $CONFIG['dynSite']='https://g.gome.com.cn:443';
		// $CONFIG['staSite']='//www.gome.com.cn/';
		// $CONFIG['contextPath']='/ec/homeus';
		// $CONFIG['secureURL']='https://g.gome.com.cn:443';
		// $CONFIG['cookieDomain']='.gome.com.cn';
		// $CONFIG['stageImageServer']= '//img.gomein.net.cn/';
		// $CONFIG['imgServer']='//img.gome.com.cn/images';
		// $CONFIG['pictureserver']='//img.gome.com.cn/image';
		// $CONFIG['stageCssServer']='//css.gome.com.cn';
		// $CONFIG['cssserver']='//css.gome.com.cn/css';
		// $CONFIG['stageJsServer']='//js.gome.com.cn';
		// $CONFIG['jsserver']='//js.gome.com.cn/js';
		// $CONFIG['js_net_server']='https://js.gomein.net.cn/';
		// $CONFIG['protocol']='https';
		// $CONFIG['versionData']='1.7.1';

		</script>
</head>
<body>
	<%- include('../../common/head.ejs')%>
	<!-- main -->
	<div class="wrap">
		<ul class = "navBtn of">
			<li class="active fl" ><a>全部</a></li>
			<li class="fl active"><a>热门推荐</a></li>
			<li class="fl "><a>我的订阅</a></li>
		</ul>
		<div class="dataList">
			<div class="allSub">
				<div class="allSubList">
					<div class="userMsg of">
						<div class="userImg fl">
							<a href="javascript:void(0)"><img src="https://i9.meixincdn.com/v1/img/T12FdTBKDv1RXrhCrK.jpg" width="60" height="60"></a>
							
						</div>
						<div class="fl userDetails" href="javascript:void(0)">
							<ul>
								<li class="userName"><a href="">松果生活</a></li>
								<li class="introMsg">一个诗人一个诗人一个诗人一个诗人一个诗人一个诗人一个诗人</li>
								<li class="likeNum">粉丝: <span>34万</span></li>
							</ul>
							
						</div>
						
						<div class="subscribe-btn active" data-action="subscribe" data-subscribeid="100" data-status="0">
							<span>＋订阅</span>
							<em>已订阅</em>
							<b>取消订阅</b>
						</div>
						
					</div>
					<div class="dataList">
						<%- include('../../common/user-subscribe.ejs')%>
					</div>
				</div>

			</div>
			
		</div>
	
		<div id="test">
			
		</div>
	</div>
	<!-- main -->
	<%- include('../../common/footer.ejs')%>
	<script src="<%=devenv%>dist/js/vendor.js"></script>
	<script src="<%=devenv%>dist/js/sublist.js"></script>
</body>
</html>