<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="<%=devenv%>dist/css/app.css">
</head>
<body>
	<div class="main">
		<%- include('../../common/head.ejs')%>
		<%- include('../../common/menu.ejs')%>
		<div class="content">
			<!--右侧内容区-->
			<div class="info-wrap">
				<div class="info-tab">
					<a href="javascript:;" class="active">美号信息</a>
					<a href="javascript:;">用户信息</a>
				</div>
				<div class="info-con">
					<div class="tab-con">
					    <a href="javascript:;" class="btn-edit">修改资料</a>
						<dl class="clearfix">
							<dt>美号状态：</dt>
							<dd>
							    <span class="red">审核失败</span>
							    <span class="green">审核失败</span>
							    <span class="orange">审核失败</span>
							    <p>原因：1、美号头像不清晰   2、美号头像不清晰   3、美号头像不清晰美号头像不清晰美号头像不清晰晰不清晰美号头像不清晰晰</p>
							</dd>
						</dl>
						<dl class="clearfix">
                            <dt>美号昵称：</dt>
                            <dd>审核失败</dd>
                        </dl>
                        <dl class="clearfix">
                            <dt>美号简介：</dt>
                            <dd>审核失败</dd>
                        </dl>
                        <div class="line"></div>
                        <dl class="clearfix">
                            <dt>美号头像：</dt>
                            <dd>
                                <img src="//gfs10.gomein.net.cn/T1mfCjBgLT1RCvBVdK_c126_126.jpg" class=""/>
                                <img src="//gfs10.gomein.net.cn/T1mfCjBgLT1RCvBVdK_c126_126.jpg" class="img-company"/>
                            </dd>
                        </dl>
                        <dl class="clearfix">
                            <dt>美号简介：</dt>
                            <dd>审核失败</dd>
                        </dl>
					</div>
				</div>
			</div>
			
			
			<div class="footer">
                <div class="main-footer">
                    <ul>
                        <li><a>国美官网</a><span>|</span></li>
                        <li><a>美妙官网</a><span>|</span></li>
                        <li><a>联系我们</a><span>|</span></li>
                        <li><a>关于我们</a><span>|</span></li>
                        <li><a>平台协议</a></li>
                    </ul>
                    <div className="copyRight">Copyright © 2015-2017 美信网络技术有限公司版权所有</div>
                </div>
            </div>
            
            <div class="rc-dialog">
                <div class="dialog-mask"></div>
                <div class="rc-dialog">
                    <div class="dialog-wrap" >
                        <div class="dialog-close icon-19"></div>
                        <div class="dialog-header">修改美号信息</div>
                        
                        <!--修改美号信息-->
                        <div class="dialog-info">
                        	<div class="form-group">
                                <label>
                                    <span class="color-rad">*</span>
                                    美号昵称：
                                </label>
                                <div class="form-input">
                                    <input class="input-text" type="text" placeholder="请输入真实姓名，以便更好确认身份" value="">
                                    <span class="num">0/12</span>
                                    <p class="error show">请输入真实姓名</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="color-rad">*</span>
                                    美号简介：
                                </label>
                                <div class="form-input">
                                    <input class="input-text" type="text" placeholder="请输入真实身份证号，以便更好确认身份" value="">
                                    <span class="num">0/12</span>
                                    <p class="error show">请输入真实姓名</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="color-rad">*</span>
                                    美号头像：
                                </label>
                                <div class="form-input upload-box">
                                    <div class="upload-attention">仅支持JPG、PNG、PNEG的图片文件，且文件小于4M，像素大于130*130</div>
                                    <div class="clearfix">
                                        <div class="upload-img">
                                            <div class="upload-add">
                                                <div class="add-item">
                                                    <em class="icon-7"></em>
                                                </div>
                                                <input type="file" name="" value="" class="upload-btn" />
                                            </div>
                                            <div class="img-add">
                                                <div class="loading-bg">
                                                    <span class="icon-20 indicator"></span>
                                                </div>
                                                <img src="//gfs10.gomein.net.cn/T1mfCjBgLT1RCvBVdK_c126_126.jpg" />
                                                <span class="icon-4 del"></span>
                                            </div>
                                        </div>
                                        <div class="upload-img">
                                            <div class="upload-add">
                                                <div class="add-item">
                                                    <em class="icon-7"></em>
                                                </div>
                                                <input type="file" name="" value="" class="upload-btn" />
                                            </div>
                                        </div>
                                    </div>
                                    <p class="error show">图片仅支持jpg、png、pneg格式</p>
                                </div>
                            </div>
                        </div>
                        <div class="dialog-footer">
                            <input type="button" value="提交" class="btn submit" />
                            <input type="button" value="取消" class="btn change" />
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
	
	
	
	<script src="<%=devenv%>dist/js/vendor.js"></script>
	<script src="<%=devenv%>dist/js/main.js"></script>
</body>
</html>