<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no">
	<meta name="x5-page-mode" content="no-title"/>
	<link rel="stylesheet" href="http://css.atguat.com.cn/??gmlib/reset/1.1.0/reset.css,gmpro/1.0.0/public/1.0.0/css/top.min.css,gmpro/1.0.0/public/1.2.0/css/foot-gomeplus.min.css?v=201704181727">
	<link rel="stylesheet" type="text/css" href="<%=devenv%>dist/css/submain.css">
	<script type="text/javascript">
		var $CONFIG = {
			userId: 0, //用户id，为0标识未登录
			nickName: "",
			avatar: "",
		};
		</script>

		<script type="text/javascript">
		$CONFIG['domain-newData']= 'http://v.dev.gomeplus.com/';
		// cms
		$CONFIG['domain-data'] = 'http://m.v.dev.gomeplus.com/';
		// php
		$CONFIG['domain-user'] = 'http://api.be.v.dev.gomeplus.com/';

		// $CONFIG['userId'] = '100018018011';
		$CONFIG['SCN'] = '';
		</script>

		<script type="text/javascript">
		/* 登录脚本所需的全局变量 */
		// pre 环境
		$CONFIG['dynSite']='//g.atguat.com.cn';
		$CONFIG['staSite']='//www.atguat.com.cn/';
		$CONFIG['contextPath']='/ec/homeus';
		$CONFIG['secureURL']='//g.atguat.com.cn';
		$CONFIG['cookieDomain']='.atguat.com.cn';
		$CONFIG['stageImageServer']= '//img.atguat.net.cn/';
		$CONFIG['imgServer']='//img.atguat.com.cn/images';
		$CONFIG['pictureserver']='//img.atguat.com.cn/image';
		$CONFIG['stageCssServer']='//css.atguat.com.cn';
		$CONFIG['cssserver']='//css.atguat.com.cn/css';
		$CONFIG['stageJsServer']='//js.atguat.com.cn';
		$CONFIG['jsserver']='//js.atguat.com.cn/js';
		$CONFIG['js_net_server']='https://js.atguat.net.cn/';
		$CONFIG['protocol']='https';
		$CONFIG['versionData']='1487836100';


		</script>
</head>
<body>
	<%- include('../../common/head.ejs')%>
	<!-- main -->
	<div class="wrap of">
		<div class="wrapLeft fl">
			<div class="userMsg" data-subid="890">
				<div class="userImg">
					<a href="">
					<img src="https://i9.meixincdn.com/v1/img/T12FdTBKDv1RXrhCrK.jpg" height="60" width="60">
					</a>
				</div>
				<p class="userName"><a>刁蛮任性非公主</a></p>
				<p class="userDel">一个美食家一个旅行家一个一个美食家一个旅行家一个一个</p>
				<div class="fansNum">
					<span>视频: <em>9999</em></span><span class="fg">|</span><span>粉丝: <em>9999</em></span>
				</div>
				<div class="subscribe-btn active" data-action="subscribe" data-subscribeid="100" data-status="0">
												<span>＋订阅</span>
												<em>已订阅</em>
												<b>取消订阅</b>
											</div>
			
			</div>
			<div class="hotSub">
				<p>热门订阅</p>
				<div class="hotSubList">
					<ul class="of">
						<li class="hotMsgImg fl">
							<a href="">
								<img src="https://i9.meixincdn.com/v1/img/T12FdTBKDv1RXrhCrK.jpg" width="40" height="40">
							</a>
						</li>
						<li class="hotMsgDel fl">
							<div class="hotMsgName"><a href="">非公主</a></div>
							<div class="hotMsgWord">然而健身的女生不同，腿粗才然而健身的女生不同，腿粗才是真正是真正...</div>
						</li>
					</ul>
					<ul class="of">
						<li class="hotMsgImg fl">
							<a href="">
								<img src="https://i9.meixincdn.com/v1/img/T12FdTBKDv1RXrhCrK.jpg" width="40" height="40">
							</a>
						</li>
						<li class="hotMsgDel fl">
							<div class="hotMsgName"><a href="">非公主</a></div>
							<div class="hotMsgWord">然而健身的女生不同，腿粗才然而健身的女生不同，腿粗才是真正是真正...</div>
						</li>
					</ul><ul class="of">
						<li class="hotMsgImg fl">
							<a href="">
								<img src="https://i9.meixincdn.com/v1/img/T12FdTBKDv1RXrhCrK.jpg" width="40" height="40">
							</a>
						</li>
						<li class="hotMsgDel fl">
							<div class="hotMsgName"><a href="">非公主</a></div>
							<div class="hotMsgWord">然而健身的女生不同，腿粗才然而健身的女生不同，腿粗才是真正是真正...</div>
						</li>
					</ul><ul class="of">
						<li class="hotMsgImg fl">
							<a href="">
								<img src="https://i9.meixincdn.com/v1/img/T12FdTBKDv1RXrhCrK.jpg" width="40" height="40">
							</a>
						</li>
						<li class="hotMsgDel fl">
							<div class="hotMsgName"><a href="">非公主</a></div>
							<div class="hotMsgWord">然而健身的女生不同，腿粗才然而健身的女生不同，腿粗才是真正是真正...</div>
						</li>
					</ul>

				</div>
			</div>
		</div>
		<div class="wrapRight fr" data-node="subMainList" data-totalpage="12">
			<div class="nodataShow">
				<span class="img"></span>
				<div><span>没有内容</span></div>
			</div>
		</div>
	</div>
	<div class="shade hide" data-node="loadMore">
		<div class="indicator " ><span>加载中...</span></div>
	</div> 

	<div id="pageBreak">
	</div>	

	<div class="side-share" data-node="sideShare">
		<div id="sharebox" class="Pub-Share">
			<a href="javascript:;" title="QQ" class="qq"><em class="icon-39"></em></a>
			<a href="javascript:;" title="微信" class="wx"><em class="icon-38"></em></a>
			<a href="javascript:;" title="新浪微博" class="wb"><em class="icon-40"></em></a>
			<a href="javascript:;" title="QQ空间" class="qz"><em class="icon-41"></em></a>
		</div>
		<div class="title">
			<em data-node="arrow" class="icon-19"></em><br/>
			<span>分享到</span>
		</div>
	</div>
	<!-- main -->
	<%- include('../../common/footer.ejs')%>
	<script src="<%=devenv%>dist/js/vendor.js"></script>
	<script src="<%=devenv%>dist/js/submain.js"></script>
</body>
</html>