<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no">
	<meta name="x5-page-mode" content="no-title"/>
	<link rel="stylesheet" href="http://css.atguat.com.cn/??gmlib/reset/1.1.0/reset.css,gmpro/1.0.0/public/1.0.0/css/top.min.css,gmpro/1.0.0/public/1.2.0/css/foot-gomeplus.min.css?v=201704181727">
	<link rel="stylesheet" type="text/css" href="<%=devenv%>dist/css/slide.css">
</head>
<body>
<%- include('../../common/head.ejs')%>
<%- include('../../common/testUser.ejs')%>
	<!-- main -->
	<div class="slidewrap" id="singleSlide">
		<div class="default-unslider">
			<ul class="unslider-ulcontainer">
				<li><a href="#" style="background:url('https://i6.meixincdn.com/v1/img/T1bwdTBTYb1RXrhCrK.jpg') 50% 0 no-repeat"></a></li>
				<li><a href="#" style="background:url('https://i4.meixincdn.com/v1/img/T1Ew_TBbZ_1RXrhCrK.jpg') 50% 0 no-repeat"></a></li>
				<li><a href="#" style="background:url('https://i2.meixincdn.com/v1/img/T1pebTB_dv1RXrhCrK.jpg') 50% 0 no-repeat"></a></li>
			</ul>
		</div>
	</div>
	<p style="margin: 30px auto;text-align: center;">-------我是分割线-------</p>
	<!-- main -->
	<div class="wrap">
		<div class="slidewrap" id="multipleSlide">
		<div class="default-unslider">
			<ul class="unslider-ulcontainer">
				<li>
					<div class="fl unslider-item">slide 1.1</div>
					<div class="fl unslider-item">slide 1.2</div>
					<div class="fl unslider-item">slide 1.3</div>
					<div class="fl unslider-item">slide 1.4</div>
					<div class="fl unslider-item">slide 1.5</div>
				</li>
				<li>
					<div class="fl unslider-item">slide 2.1</div>
					<div class="fl unslider-item">slide 2.2</div>
					<div class="fl unslider-item">slide 2.3</div>
					<div class="fl unslider-item">slide 2.4</div>
					<div class="fl unslider-item">slide 2.5</div>
				</li>
				<li>
					<div class="fl unslider-item">slide 3.1</div>
					<div class="fl unslider-item">slide 3.2</div>
					<div class="fl unslider-item">slide 3.3</div>
					<div class="fl unslider-item">slide 3.4</div>
					<div class="fl unslider-item">slide 3.5</div>
				</li>
			</ul>
		</div>
	</div>
	</div>
	<!-- main -->
	<script src="<%=devenv%>dist/js/vendor.js"></script>
	<script src="<%=devenv%>dist/js/slide.js"></script>
</body>
</html>