<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="<%=devenv%>dist/css/app.css">
</head>
<body>
	<div class="main">
		<%- include('../../common/head.ejs')%>
		<%- include('../../common/menu.ejs')%>
		<div class="content">
			<!--右侧内容区-->
			<div class="contentManage">
				<table border="0" cellspacing="0" cellpadding="0" class="list-table" width="100%">
				    <thead>
    					<tr>
    					    <th>标题</th>
    					    <th width="230">封面图</th>
    					    <th width="235">状态</th>
    					    <th width="165">操作</th>
    					</tr>
					</thead>
					<tbody>
    					<tr>
    					    <td>
    					        <a href="#" class="title">奇葩喝第十五期：是谁</a>
    					        <p class="gray">创建于：2017-7-11</p>
    					    </td>
    					    <td>
    					        <img src="//gfs10.gomein.net.cn/T1mfCjBgLT1RCvBVdK_c126_126.jpg" class=""/>
    					    </td>
    					    <td>
    					        <span class="red">审核中</span>
    					        <span class="green">审核中</span>
    					        <span class="orange">审核中</span>
    					        <p class="gray">标签问题标签问题标签问题</p>
    					    </td>
    					    <td>
    					        <div class="a-btn">
    					        	<a href="javascript:;">修改</a>
    					        </div>
    					        <div class="a-btn">
                                    <a href="javascript:;">删除</a>
                                </div>
                                <div class="a-btn">
                                    <a href="javascript:;">预览</a>
                                </div>
    					    </td>
    					</tr>
    					<tr>
                            <td>
                                <a href="#" class="title">奇葩喝第十五期：是谁</a>
                                <p class="gray">创建于：2017-7-11</p>
                            </td>
                            <td>
                                <img src="//gfs10.gomein.net.cn/T1mfCjBgLT1RCvBVdK_c126_126.jpg" class=""/>
                            </td>
                            <td>
                                <span class="red">审核中</span>
                                <span class="green">审核中</span>
                                <span class="orange">审核中</span>
                                <p class="gray">标签问题标签问题标签问题</p>
                            </td>
                            <td>
                                <div class="a-btn">
                                    <a href="javascript:;">修改</a>
                                </div>
                                <div class="a-btn">
                                    <a href="javascript:;">删除</a>
                                </div>
                                <div class="a-btn">
                                    <a href="javascript:;">预览</a>
                                </div>
                            </td>
                        </tr>
					</tbody>
				</table>
				<div class="nodata">
					<p>您还未发布过任何视频哦，快去发布吧</p>
					<a href="#" class="btn">发布视频</a>
				</div>
			</div>
			
			<div class="footer">
                <div class="main-footer">
                    <ul>
                        <li><a>国美官网</a><span>|</span></li>
                        <li><a>美妙官网</a><span>|</span></li>
                        <li><a>联系我们</a><span>|</span></li>
                        <li><a>关于我们</a><span>|</span></li>
                        <li><a>平台协议</a></li>
                    </ul>
                    <div className="copyRight">Copyright © 2015-2017 美信网络技术有限公司版权所有</div>
                </div>
            </div>
		</div>
	</div>
	<script src="<%=devenv%>dist/js/vendor.js"></script>
	<script src="<%=devenv%>dist/js/main.js"></script>
</body>
</html>