doctype html
html(lang='en', data-use-rem='750')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
        meta(name='format-detection', content='telephone=no')
        meta(name='format-detection', content='email=no')
        title Title
        link(rel='stylesheet',type="text/css",href='../../css/public/gomeplusUI.css')
        link(rel='stylesheet',type="text/css",href='../../css/module/issueTopic/issuetopic.css')
    body.opg.issuetopic
        script.
            (function(win){var doc=win.document,html=doc.documentElement,option=html.getAttribute("data-use-rem");if(option===null){return}var baseWidth=parseInt(option).toString()==="NaN"?640:parseInt(option);var grids=baseWidth/100;var clientWidth=html.clientWidth||320;html.style.fontSize=clientWidth/grids+"px";var testDom=document.createElement("div");var testDomWidth=0;var adjustRatio=0;testDom.style.cssText="height:0;width:1rem;";doc.body.appendChild(testDom);var calcTestDom=function(){testDomWidth=testDom.offsetWidth;if(testDomWidth!==Math.round(clientWidth/grids)){adjustRatio=clientWidth/grids/testDomWidth;var reCalcRem=clientWidth*adjustRatio/grids;html.style.fontSize=reCalcRem+"px"}else{doc.body.removeChild(testDom)}};setTimeout(calcTestDom,20);var reCalc=function(){var newCW=html.clientWidth;if(newCW===clientWidth){return}clientWidth=newCW;html.style.fontSize=newCW*(adjustRatio?adjustRatio:1)/grids+"px"};if(!doc.addEventListener){return}var resizeEvt="orientationchange" in win?"orientationchange":"resize";win.addEventListener(resizeEvt,reCalc,false);doc.addEventListener("DOMContentLoaded",reCalc,false)})(window);

        header.header
            .h-left
                a(href="javascript:;").h-back
                    em.iconn-1
            .h-cnt.flex-cell
                .h-tabs
                    a(href="javascript:;") 标题文本
            .h-right
                a.h-btn(href="javascript:;")
                    em.iconn-4
                    .tab-nav
                        p
                            em.iconn-44
                            | 首页
                        p
                            em.iconn-15
                            | 分类
                        p
                            em.iconn-32
                            | 购物车
                        p
                            em.iconn-90
                            | 我的
        .m-mask
        .pop-bx
            .close-btn
            .box
                .eplain-bx
                    .big-title 奖励说明
                    .rule-txt
                        span.numb 1
                        span 活动面向国美Plus平台所有注册用户（排除官方发布帐号）。
                    .rule-txt
                        span.numb 2
                        span 用户需达到设定的奖励范围即可获得相应美豆数，美豆共计100万个(
                            | 1元=100美豆)，发完为止。
                    .rule-txt
                        span.numb 3
                        span 平台当月26号核算上月奖励发放数据，并于次月3号发放上月奖励，发放
                            | 同时用户将收到短信提示。
                    .rule-txt
                        span.numb 4
                        span 用户所发优质内容将有机会被推送到首页。
                    p.eplain-txt
                        | 奖励将按”发布话题总数”和”所发话题互动数”俩个标准来为用户发放美豆，
                        | 所以发布话题的同时也不要忘记叫上小伙伴给你点赞，回复哦～
                    table.tab
                        tr
                            th 发布话题总数（篇）
                            th —赢百万美豆啦~
                        tr
                            td 1
                            td 50
                        tr
                            td 2
                            td 75
                        tr
                            td 3
                            td 100
                        tr
                            td 10篇及以上
                            td 150
                    table.tab
                        tr
                            th 互动数（回复数+点赞数）
                            th 奖励美豆数（个/篇）
                        tr
                            td 0≤互动数＜50
                            td 10
                        tr
                            td 50≤互动数＜100
                            td 75
                        tr
                            td 100≤互动数
                            td 20
                .step-bx
                    .one-img
                    .two-img
                    .three-img
                    .four-img
                    .step.one
                        .title 第一步
                        p 在圈子页面点击右上角“+”，在弹出的下拉栏中点击“发话题”
                    .step.two
                        .title 第二步
                        p 进入添加图片页面，选择照片或直接点击“继续”按钮
                    .step.three
                        .title 第三步
                        p 填写标题和想写的内容，也可点击底部【添加图片】、【添加商品】、【添加标
                            | 签】按钮添加相应内容，点击发布。
                    .step.four
                        .title 第四步
                        p 这样话题就已经发布好了，点击右下角分享按钮，分享给好友评论点赞，就能获
                            | 得更多的奖励哦！


        .mdou-bx
            ul
                li
                    a.explain-btn 奖励说明
                    img(src='../../images/issuetopic/mdou-bj_01.jpg', alt='')
                li
                    p.activi-time
                        span 活动时间：
                        | 2017年6月19日-2017年6月25日
                    img(src='../../images/issuetopic/mdou-bj_02.jpg', alt='')
                li
                    img(src='../../images/issuetopic/mdou-bj_03.jpg', alt='')
                li
                    .download-btn
                    .issued-btn
                    a.tips-txt 发话题小贴士         
                    img(src='../../images/issuetopic/mdou-bj_04.jpg', alt='')
                li
                    img(src='../../images/issuetopic/mdou-bj_05.jpg', alt='')
                li
                    img(src='../../images/issuetopic/mdou-bj_06.jpg', alt='')
                li
                    .rule-box
                        .rule-txt
                            span.numb 1
                            span 发布你想要表达的内容（可发布在任意圈子内）就能参加活动喽~赶
                                | 紧动起来吧！
                        .rule-txt
                            span.numb 2
                            span 发布你想要表达的内容（可发布在任意圈子内）就能参加活动喽~赶
                                | 紧动起来吧！


                    img(src='../../images/issuetopic/mdou-bj_07.jpg', alt='')
                li
                    img(src='../../images/issuetopic/mdou-bj_08.jpg', alt='')

