<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="<%=devenv%>dist/css/app.css">
</head>
<body>
	<div class="main">
		<%- include('../../common/head.ejs')%>
		<%- include('../../common/menu.ejs')%>
		<div class="content">
			<!--右侧内容区-->
			
		</div>
		<%- include('../../common/footer.ejs')%>
	</div>
	<!--<script src="<%=devenv%>dist/js/vendor.js"></script>
	<script src="<%=devenv%>dist/js/app.js"></script>-->
</body>
</html>